
/*#EBD0B4*/
/*#BF884E*/

/*#230c0f DarkSienna*/
/*#341b14 Brown*/
/*#f9fad1 LightYellow*/
/*#407d87 Teal*/
/*#ff9b21 Orange*/
/*#ee6802 BloodOrange*/

.input-error  {
}

.input-error:focus {
  outline: none !important;
  border-color: red;
  box-shadow: 0 0 10px red;
}

.about-section{

}

.about-section p {
  position: relative;
  z-index: 2;
}

.shop-section {

}

.pricing-section {

  font-weight: normal;
}

.content-section {
  min-width: 100%;
  min-height: 300px;
}

hr {
  margin: 0 45% 0 45%;
  border-color: #341b14;
  opacity: 70%;
  background-color: transparent;
  /*border-style: dashed;*/
  border-bottom-style: dotted;
  border-width: 15px;
}

.hr {

}

.contact-section {

}

.App {
  text-align: center;
}

body {
  color: #341b14;
  font-family: 'Merriweather', serif;
  background-color: #f9fad1;
}

h1 {
  color: #ff9b21;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}

.main-heading {
  color: #407d87;
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  font-weight: bold;
  margin-top: 10px;
}

.section-text {
  padding: 50px;
}

.btn-outline-primary {
  background-color: #f6f5f0;
  color: #ee6802;
  border-color: #ee6802;
}

.btn-outline-primary:hover {
  background-color: #ee6802;
  color: #f6f5f0;
  border-color: #f6f5f0;
}

.nav-color {
  background-color: #ee6802;
}

.nav-link {
  color: #f9fad1;
}

.nav-link:hover {
  color: #407d87;
}

.calendar-form {
  border-color: #ee6802;
  border-style: dashed;
}

.form-group {
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

.main-heading-img {
  display: inline;
  position: absolute;
  right: -50px;
  transform: rotate(35deg);
  z-index: 2;
  top: -20px;
}