
/*#EBD0B4*/
/*#BF884E*/

/*#3e5336 DarkGreen*/
/*#948f47 MediumGreen*/
/*#f6da73 Yellow*/
/*#f6f5f0 White*/
/*#e55b73 Pink*/

/*@mixin input-error {*/
/*    border-color: red;*/
/*    border-radius: 1px;*/
/*    background-color: red;*/
/*}*/


.input-error  {
  /*border-color: red;*/
  /*border-radius: 10px;*/
  /*border-width: 10px;*/
  /*background-color: #FF99CC;*/
}

/*.input-error-unfocus {*/

/*  box-shadow: 0 0 0 0 blue;*/
/*  border-color: blue;*/
/*}*/

/*.input-error-unfocus:focus{*/
/*  outline : invert;*/
/*  box-shadow : none;*/
/*}*/

.input-error:focus {
  outline: none !important;
  border-color: red;
  box-shadow: 0 0 10px red;
}

.about-section{
  background-color: #f6f5f0;
}

.pricing-section {
  background-color: #3e5336;
  color: #f6da73;
}

.content-section {
  min-width: 100%;
  min-height: 300px;
}

.contact-section {

}


.App {
  text-align: center;
}

body {
  background-color: #f6f5f0;
  color: #3e5336;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #948f47;
  font-family: 'Sacramento', cursive;
}

.main-heading {
  color: #3e5336;
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  font-weight: bold;
  margin-top: 10px;
}

.section-text {
  padding: 50px;
}

.btn-outline-primary {
  background-color: #f6f5f0;
  color: #e55b73;
  border-color: #e55b73;
}

.btn-outline-primary:hover {
  background-color: #e55b73;
  color: #f6f5f0;
  border-color: #f6f5f0;
}

.nav-color {
  background-color: #f6da73;
}

.nav-link {
  color: #3e5336;
}

.nav-link:hover {
  color: #e55b73;
}

.calendar-form {
  border-color: #e55b73;
  border-style: dashed;
}

.form-group {
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}