
/*#EBD0B4*/
/*#BF884E*/

/*$dark-color: #230c0f;*/


/*#3e5336 DarkGreen*/
/*#948f47 MediumGreen*/
/*#f6da73 Yellow*/
/*#f6f5f0 White*/
/*#e55b73 Pink*/

/*#230c0f DarkSienna*/
/*#a2d3c2 Aqua*/
/*#cba328 LemonCurry*/
/*#ead637 Citrine*/
/*#d6f49d Yellow Green Crayola*/


/*@mixin input-error {*/
/*    border-color: red;*/
/*    border-radius: 1px;*/
/*    background-color: red;*/
/*}*/


.input-error  {
  /*border-color: red;*/
  /*border-radius: 10px;*/
  /*border-width: 10px;*/
  /*background-color: #FF99CC;*/
}

/*.input-error-unfocus {*/

/*  box-shadow: 0 0 0 0 blue;*/
/*  border-color: blue;*/
/*}*/

/*.input-error-unfocus:focus{*/
/*  outline : invert;*/
/*  box-shadow : none;*/
/*}*/

.input-error:focus {
  outline: none !important;
  border-color: red;
  box-shadow: 0 0 10px red;
}

.about-section{
  background-color: #f9fad1;
  color: #341b14;
}

.shop-section {
  background-color: #f9fad1;
  color: #341b14;
}

.pricing-section {
  background-color: #f9fad1;
  color: #341b14;
  font-weight: normal;
}

.content-section {
  min-width: 100%;
  min-height: 300px;
}

hr {
  margin: 0 45% 0 45%;
  border-color: black;
  background-color: transparent;
  /*border-style: dashed;*/
  border-bottom-style: dotted;
  border-width: 15px;
}

.hr {
  background-color: #f9fad1;
}

.contact-section {

}

.App {
  text-align: center;
}

body {
  background-color: #f6f5f0;
  color: #3e5336;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #ff9b21;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}

.main-heading {
  color: #407d87;
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  font-weight: bold;
  margin-top: 10px;
}

.section-text {
  padding: 50px;
}

.btn-outline-primary {
  background-color: #f6f5f0;
  color: #ee6802;
  border-color: #ee6802;
}

.btn-outline-primary:hover {
  background-color: #ee6802;
  color: #f6f5f0;
  border-color: #f6f5f0;
}

.nav-color {
  background-color: #ee6802;
}

.nav-link {
  color: #f9fad1;
}

.nav-link:hover {
  color: #407d87;
}

.calendar-form {
  border-color: #ee6802;
  border-style: dashed;
}

.form-group {
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}